<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>checked_marks</key>
		<array>
			<dict>
				<key>end_Y</key>
				<string>84</string>
				<key>end_X</key>
				<string>152</string>
				<key>start_Y</key>
				<string>46</string>
				<key>start_X</key>
				<string>110</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>160</string>
				<key>end_X</key>
				<string>142</string>
				<key>start_Y</key>
				<string>128</string>
				<key>start_X</key>
				<string>108</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>275</string>
				<key>end_X</key>
				<string>308</string>
				<key>start_Y</key>
				<string>223</string>
				<key>start_X</key>
				<string>232</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>298</string>
				<key>end_X</key>
				<string>105</string>
				<key>start_Y</key>
				<string>279</string>
				<key>start_X</key>
				<string>82</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>386</string>
				<key>end_X</key>
				<string>166</string>
				<key>start_Y</key>
				<string>363</string>
				<key>start_X</key>
				<string>142</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>442</string>
				<key>end_X</key>
				<string>284</string>
				<key>start_Y</key>
				<string>416</string>
				<key>start_X</key>
				<string>257</string>
			</dict>
		</array>
		<key>left_image</key>
		<string>leftImage01.png</string>
		<key>right_image</key>
		<string>rightImage01.png</string>
	</dict>
	<dict>
		<key>checked_marks</key>
		<array>
			<dict>
				<key>end_Y</key>
				<string>41</string>
				<key>end_X</key>
				<string>125</string>
				<key>start_Y</key>
				<string>19</string>
				<key>start_X</key>
				<string>100</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>109</string>
				<key>end_X</key>
				<string>94</string>
				<key>start_Y</key>
				<string>90</string>
				<key>start_X</key>
				<string>75</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>120</string>
				<key>end_X</key>
				<string>170</string>
				<key>start_Y</key>
				<string>96</string>
				<key>start_X</key>
				<string>140</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>152</string>
				<key>end_X</key>
				<string>232</string>
				<key>start_Y</key>
				<string>135</string>
				<key>start_X</key>
				<string>216</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>164</string>
				<key>end_X</key>
				<string>327</string>
				<key>start_Y</key>
				<string>126</string>
				<key>start_X</key>
				<string>286</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>246</string>
				<key>end_X</key>
				<string>275</string>
				<key>start_Y</key>
				<string>227</string>
				<key>start_X</key>
				<string>253</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>362</string>
				<key>end_X</key>
				<string>96</string>
				<key>start_Y</key>
				<string>330</string>
				<key>start_X</key>
				<string>63</string>
			</dict>
		</array>
		<key>left_image</key>
		<string>leftImage02.png</string>
		<key>right_image</key>
		<string>rightImage02.png</string>
	</dict>
	<dict>
		<key>checked_marks</key>
		<array>
			<dict>
				<key>end_Y</key>
				<string>49</string>
				<key>end_X</key>
				<string>143</string>
				<key>start_Y</key>
				<string>33</string>
				<key>start_X</key>
				<string>129</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>155</string>
				<key>end_X</key>
				<string>163</string>
				<key>start_Y</key>
				<string>134</string>
				<key>start_X</key>
				<string>139</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>260</string>
				<key>end_X</key>
				<string>173</string>
				<key>start_Y</key>
				<string>239</string>
				<key>start_X</key>
				<string>145</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>357</string>
				<key>end_X</key>
				<string>258</string>
				<key>start_Y</key>
				<string>332</string>
				<key>start_X</key>
				<string>228</string>
			</dict>
		</array>
		<key>left_image</key>
		<string>leftImage03.png</string>
		<key>right_image</key>
		<string>rightImage03.png</string>
	</dict>
	<dict>
		<key>checked_marks</key>
		<array>
			<dict>
				<key>end_Y</key>
				<string>84</string>
				<key>end_X</key>
				<string>152</string>
				<key>start_Y</key>
				<string>46</string>
				<key>start_X</key>
				<string>110</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>160</string>
				<key>end_X</key>
				<string>142</string>
				<key>start_Y</key>
				<string>128</string>
				<key>start_X</key>
				<string>108</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>275</string>
				<key>end_X</key>
				<string>308</string>
				<key>start_Y</key>
				<string>223</string>
				<key>start_X</key>
				<string>232</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>298</string>
				<key>end_X</key>
				<string>105</string>
				<key>start_Y</key>
				<string>279</string>
				<key>start_X</key>
				<string>82</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>386</string>
				<key>end_X</key>
				<string>166</string>
				<key>start_Y</key>
				<string>363</string>
				<key>start_X</key>
				<string>142</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>442</string>
				<key>end_X</key>
				<string>284</string>
				<key>start_Y</key>
				<string>416</string>
				<key>start_X</key>
				<string>257</string>
			</dict>
		</array>
		<key>left_image</key>
		<string>leftImage.png</string>
		<key>right_image</key>
		<string>rightImage.png</string>
	</dict>
</array>
</plist>
