<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>checked_marks</key>
		<array>
			<dict>
				<key>end_Y</key>
				<string>82</string>
				<key>end_X</key>
				<string>154</string>
				<key>start_Y</key>
				<string>57</string>
				<key>start_X</key>
				<string>116</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>160</string>
				<key>end_X</key>
				<string>142</string>
				<key>start_Y</key>
				<string>128</string>
				<key>start_X</key>
				<string>108</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>275</string>
				<key>end_X</key>
				<string>308</string>
				<key>start_Y</key>
				<string>212</string>
				<key>start_X</key>
				<string>232</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>298</string>
				<key>end_X</key>
				<string>105</string>
				<key>start_Y</key>
				<string>279</string>
				<key>start_X</key>
				<string>82</string>
			</dict>
			<dict>
				<key>end_Y</key>
				<string>386</string>
				<key>end_X</key>
				<string>166</string>
				<key>start_Y</key>
				<string>136</string>
				<key>start_X</key>
				<string>142</string>
			</dict>
		</array>
		<key>right_image</key>
		<string>rightImage.png</string>
		<key>left_image</key>
		<string>leftImage.png</string>
	</dict>
</array>
</plist>
